[Desktop Entry]
Name=User Management

Comment=Users & Groups Administration

Exec=kcmshell4 userconfig
Icon=system-users
Type=Service
Encoding=UTF-8

X-KDE-SubstituteUID=true
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kpythonpluginfactory
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=userconfig/userconfig.py
X-KDE-Keywords=user, users, group, groups
X-KDE-System-Settings-Parent-Category=system-administration
X-DocPath=userconfig/index.html
X-KDE-Weight=10


Categories=Qt;KDE;System;

GenericName=User Account Editor
X-Ubuntu-Gettext-Domain=desktop_userconfig
